/* Navbar.css */

.navbar {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .nav-link {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  