  .container {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.weather-card {
  flex: 1; 
  margin-right: 20px; 
}

.weather-form {
  flex: 1;
} 

/* .{
  color: #086868;
} */